{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
  <h1>Edit your account</h1>

  <form method="post" enctype="multipart/form-data">
    <!-- {{ user_form.as_p }}
    {{ profile_form.as_p }} -->
    {% csrf_token %}
    {% load crispy_forms_tags %}
    <p>You can edit your account using the following form:</p>
    <div class="container">
      <div class="row align-items-start">
        {{ user_form|crispy  }}
        {{ profile_form|crispy  }}
      </div>
      <div class="row align-items-start">
        <button type="submit" class="btn btn-success">Save changes</button>
      </div>
      <div class="row align-items-start"></div>
        {% if confirm %}
          {% if confirm.0 == False %}
            <div class="alert alert-danger" id="danger-alert">
              <button type="button" class="close" data-dismiss="alert">x</button>
              <strong>Error!</strong> profile data has been not updated!
            </div>
          {% else %}
            <div class="alert alert-success" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>Success!</strong> profile data edited succesfully!
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>


  </form>
{% endblock %}
