{% extends "base.html" %}
{% block content %}
<h1 style="text-align:center;margin-top:10px">Send Messages</h1>
<div class="linksLog">
    <a class="leftLink" href="/logout/" >logout</a>
    <a class="rightLink" href="/">inbox</a>
</div>
<div class="sendMsg">

 <form  method="POST"> {% csrf_token %}

 Send To <select name="reciever">
     {% for user in object_list %}

        <option value="{{ user.username }}">{{ user.username }}</option>
     {% endfor %}

</select><br>

     <textarea name="message_content" placeholder="Please Write your Message....." required></textarea><br>

     <input type="submit" value="send"><br>
     {% if confirm %}
    {{ confirm }}
    {% endif %}
</form>

</div>

{% endblock content %}